<footer class="footer">
  <div class="container centered">
    <div class="col-xs-12">
      <p class="text-center">
        <%= link_to("Powered by Mangrove community !", 'http://www.meetmangrove.com/us/', target: :_blank) %>
      </p>
    </div>
  </div>
</footer>

