<div class="col-xs-12 col-lg-4 col-lg-offset-4">
  <h1>Editing Password</h1>

  <%= render 'form3' %>
  <br>
  <div class="text-center">
    <%= link_to edit_user_path(current_user), class: "btn btn-default btn" do %>
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    <%end%>
  </div>
</div>